<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 style="display:inline;">Bioparser</h1>
        <h5 style="display:inline;">by Balachandar 'Raj' Kesavan (raj.ksvn at gmail dot com)</h5>
        <br>
        <h5 style="display:inline;">A utility to parse multiple choice questions for the 8th edition Campbell Biology textbook.</h5>
        <form>
            <textarea id="questions" rows="15" cols="150" placeholder="Paste the multiple choice questions and answers here."></textarea>
            <br>
            <input type="button" value="Parse" onClick="parse();">
            <input id="select" type="button" value="Select all text" onClick="select_text('result');" style="display:none;">
        </form>
        <hr>
        <div id="result" style="white-space: pre-wrap;"></div>
        <hr>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <br>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        <br>
        Bioparser is <a href="http://bitbucket.org/rajksvn/bioparser" target="_blank">open source</a> (you can find instructions at this link as well).
        <script>
            function select_text(e){if(document.selection){var t=document.body.createTextRange();t.moveToElementText(document.getElementById(e));t.select()}else if(window.getSelection){var t=document.createRange();t.selectNode(document.getElementById(e));window.getSelection().addRange(t)}}function parse(){$.ajax({type:"POST",dataType:"json",contentType:"application/json",url:"/parse",data:JSON.stringify({questions:$("#questions").val()}),success:function(e){console.log("Parse successful.");var t=e["parsed"];$("#result").text(t);$("#select").show()},error:function(e){console.log("Parse failure.");console.log(e);var t="Oh no! An unexpected error occurred. Try again and contact raj.ksvn@gmail.com if Bioparser still doesn't work.";$("#result").text(t);$("#select").hide()}})}
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!--<script src="{{ url_for('static', filename = 'js/bioparser.js') }}"></script>-->
    </body>
</html>
